<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>An error occured (<%= status %>)</title>
		<link rel="stylesheet" href="/connect_error.css" />
		<script>
			function goback() {
				if (history.length > 1) {
					if (typeof history.back === "function") history.back()
					else window.location = "<%= frontend %>"
				} else {
					window.location = "<%= frontend %>"
				}
			}
		</script>
	</head>
	<body>
		<section>
			<h1><%= error %></h1>
			<p><%= error_description %></p>
			<p style="margin-top: 1rem">
				<button onclick="goback()" style="margin-right: 4px">Go back</button>
				<a
					class="button"
					style="background-color: #00a878"
					href="<%= frontend %>"
					>Homepage</a
				>
			</p>
		</section>
	</body>
</html>
